

*{

    margin: 0;
    padding: 0;
}

:root{
    --blue: rgb(28, 183, 185);
    --dark-gray: rgb(56, 56, 56);
    --light-gray: rgb(205, 204, 204);
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
