@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

/* :root{
    --blue: rgb(28, 183, 185);
    --dark-gray: rgb(84, 84, 84);
    --light-gray: rgb(205, 204, 204);
} */
.profile-post-image{
    width: 310px;
    height: 310px;
    object-fit: cover;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 20px;
  
}

.profile-post-image:nth-child(3n){

    margin-right: 0px;
}

.profile-post-image:hover{
    filter:brightness(70%)
}