
.profile-post-image{
    width: 310px;
    height: 310px;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 20px;
  
}

.profile-post-image:nth-child(3n){

    margin-right: 0px;
}

.profile-post-image:hover{
    filter:brightness(70%)
}

@media screen and (max-width: 1250px) {
    .profile-post-image:nth-child(3n){
        margin-right: 20px;
    }
}