
.footer {
    display: flex;
    flex-direction: column;

}

.container-footer {
    margin-top: 40px;
    border-top: 2px solid var(--light-gray);
    color: var(--dark-gray);
    height: 60px;

}

.copyright{
    font-family: 'Noto Sans', sans-serif;
    color: var(--dark-gray);
    margin-left: 20px;

}

