.suggestion-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.suggestion-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 13px;
}

.suggestion-profile-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.suggestion-username {
    text-decoration: none;
    font-weight: 600;
    color: var(--dark-gray);
    font-family: 'Noto Sans', sans-serif;
    margin-left: 12px;
    font-size: 12px;
}
