
.aside-home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

}

.user-photo {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
}

.user-username {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-gray);
    font-family: 'Noto Sans', sans-serif;
    margin-left: 15px;
    font-size: 15px;
}

