.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main {
    display: flex;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid var(--light-gray);
    border-radius: 15px;
    min-width: 500px;
    max-height: 680px;
    height: auto;
    margin-top: 20px;
}

.div-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {

    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color:  rgb(54, 54, 54);
    margin-top: 20px;
    margin-bottom: 25px;

}

.text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px 35px 20px 35px;
    text-align: center;
    color: var(--dark-gray);
    margin-top: 20px;
}

.line {
    margin-top: 16px;
    display: block;
    width: 70%;
    height: 1px;
    background-color: var(--dark-gray);

}

.form {
    margin-top: 45px;
    padding-bottom: 20px;
}
.err-message-container{
    margin-top: -12px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.err-message{
   color: rgb(239, 87, 87);
   font-family: 'Noto Sans', sans-serif;
   font-size: 17px;
}

.label {
    display: flex;
    justify-content: flex-start;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: var(--dark-gray);

    font-size: 20px;
    margin-bottom: 6px;
}

.input {
    display: flex;
    justify-content: center;
    color: var(--dark-gray);

    width: 340px; 
    height: 30px;
    margin-bottom: 35px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
   
}
.input::placeholder{
    font-family: 'Noto Sans', sans-serif;
   
}
.input-with-eye{
    margin-bottom: 0px;
    }
    .eye-icon{
        /* position: absolute;
        bottom: 245px;
        right: 595px; */
        position: relative;
        bottom: 33px;
        left: 320px;
        font-size: 20px;
    
    }
.container-btn{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    padding: 7px;
    width: 95px;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color:rgb(240, 240, 240);
    border-radius: 17px;
    cursor: pointer;
    transition:all 0.3s ease-in-out;
}

.btn:hover{
    border: 2px solid rgb(29, 173, 175);
    background-color: rgb(29, 173, 175);
}

.container-sign-up{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.paragraph-account{
    display: inline-flex;
    margin-top: 30px;
    
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.sign-up{ 
    margin-top: 30px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--blue);
    transition:all 0.3s ease-in-out;
}

.sign-up:hover{
    color: var(--dark-gray);
}