.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid var(--light-gray);
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 100vh;
    margin-left: 25px;
}

.logo {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: rgb(54, 54, 54);
    margin-top: 15px;
    transition: all 0.2s linear;
}

.logo:hover {
    color: var(--blue);
}

.ul-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 40%;

}

.li-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    /* width: 200px;
    height: 40px; */
}


.link {

    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 17px;
    transition: all 0.1s ease-in-out;
}

.link:hover {
    color: var(--blue);

}

.link-clicked{
    font-weight: bold;
}

.logout {
    margin-bottom: 15px;
}

.nav-icon {
    color: var(--dark-gray);
    font-size: 28px;
    margin-left: 24px;
    margin-right: 12px;

}

.link-image{
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 17px;
    transition: all 0.1s ease-in-out;
}
.link-image:hover {
    color: var(--blue);

}
.link-image-clicked{
    font-weight: bold;
}
.nav-image {
    width: 27px;
    height: 27px;
    margin-left: 24px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
   
}
.nav-image-clicked{
     border: 2px solid var(--dark-gray);
}