@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');


.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.container-footer {
    margin-top: 20px;
    border-top: 2px solid var(--light-gray);
    color: var(--dark-gray);
    height: 80px;
   
    /* height: 110px; */
}

.copyright{
    font-family: 'Noto Sans', sans-serif;
    color: rgb(175, 175, 175);;
    margin-left: 20px;

}

