@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

:root{
    --blue: rgb(28, 183, 185);
    --dark-gray: rgb(84, 84, 84);
    --light-gray: rgb(205, 204, 204);
}
/* .footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
    height: 50px;
} */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.container-footer {
    margin-top: 40px;
    border-top: 2px solid var(--light-gray);
    color: var(--dark-gray);
    height: 80px;
   
    /* height: 110px; */
}

.copyright{
    font-family: 'Noto Sans', sans-serif;
    color: var(--light-gray);
    margin-left: 20px;

}
/* @media only screen and (max-width: 1200px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container-footer{
        margin-top: 20px;
    }
} */

