@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

body{
    display: grid;
    grid-template-areas: 
    "nav main main aside"
    "nav main main aside"
    "nav main main footer";

    /* grid-template-areas: 
    "nav main main main aside aside"
    "nav main main main aside aside"
    "nav main main main aside aside"
    "nav main main main aside aside"
    "nav main main main footer footer"
    "nav main main main footer footer"; */

    grid-template-columns: 140px auto;
    gap: 20px;
}

header {grid-area: header;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

